*, *::after *::before {
    box-sizing: border-box;
}

h1 {
    margin: 5px;
    padding: 50px;
}

body {
    height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    
   
}

section div {
    border: 1px solid grey;
}